.col-xs-10.col-md-10.col-md-offset-1
  %h3{:align => "center"} Why integrated security matters
  %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/k4vEJnGYy84", :width => "560"}

%hr.divider
